# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.env
.venv/
venv/
ENV/
env/
*.sqlite3

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# Test/coverage
htmlcov/
.coverage
.cache
pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.pyc

# Others
*.swp
*.bak
*.tmp
